* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	color: white;
}

img {
	width: 100%;
	display: block;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
}

:root {
  background: #444;
}
